{{> header}}

<form action="/api/session/register" method="POST">
First Name: <input type="text" name="firstName" id=""> <br>
Last Name: <input type="text" name="lastName" id=""> <br>
Age: <input type="number" name="age" id=""> <br>
Email: <input type="email" name="email" id=""> <br>
Password: <input type="password" name="password" id=""> <br>
Role: <input type="password" name="role" id=""> <br>

<button type="submit">Register</button>
</form>

Si estas registrado, logueate aca! 
<a href="/login">Register</a>